################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/almedin.slnx
/.vs
/ceste/ceste.html.bup
/dim/fem.css
/dim/fem.html
/dim/fem.js
/.vscode
vscode/
dim/dim3.js
dim/dim4.js
dim/dim5.js
dim/dim6.js
