################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/almedin.slnx
/.vs
/ceste/ceste.html.bup
